# Rust build artifacts
target
Cargo.lock

# Python dev environment produced by direnv (or by another method)
.direnv
.venv
.env

# Any module extensions that get dumped into the python src
*.so

# pytest
.pytest_cache
__pycache__

# py-spy flamegraphs
*.svg
*.png

images

perf.data*